name: qro5de
description: "QR O5DE - Professional QR Code Generator and Scanner"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8

  # State Management
  provider: ^6.1.1

  # QR Code Generation
  qr_flutter: ^4.1.0
  mobile_scanner: ^5.1.1

  # Localization
  flutter_localizations:
    sdk: flutter
  intl: ^0.20.2

  # Storage
  shared_preferences: ^2.2.2
  sqflite: ^2.3.3
  path: ^1.8.3
  path_provider: ^2.1.0

  # Permissions
  permission_handler: ^11.3.1

  # Image Handling
  screenshot: ^3.0.0

  # Sharing
  share_plus: ^7.2.1

  # UI Components
  flutter_svg: ^2.0.9
  lottie: ^2.7.0
  flutter_staggered_animations: ^1.1.1
  shimmer: ^3.0.0

  # Navigation
  go_router: ^12.1.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  flutter_launcher_icons:
    git:
      url: https://github.com/fluttercommunity/flutter_launcher_icons
      ref: master

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  uses-material-design: true

  assets:
    - assets/lottie/
    - assets/images/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package

flutter_launcher_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/images/app_icon.svg"
  adaptive_icon_background: "#4A90E2"
  adaptive_icon_foreground: "assets/images/app_icon.svg"
